<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Admin Panel</title>
  </head>
  <body>
    <div class="navigation"">
        
      <ul class="list-group bg-dark" style="width: 250px; height: 100vh;">
        <li class="list-group-item bg-dark text-light"><h3>Admin Panel</h3></li>
        <a href=""><li class="list-group-item bg-dark text-light">Moderators</li></a>
        <a href=""><li class="list-group-item bg-dark text-light">User Supports</li></a>
        <a href=""><li class="list-group-item bg-dark text-light">Users</li></a>
        <a href=""><li class="list-group-item bg-dark text-light">Events</li></a>
        <a href="/logout"><li class="list-group-item bg-dark text-light">Logout</li></a>
      </ul>
    </div>
  </body>
</html>
