<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Reports</title>
  </head>
  <body>
    <div class="d-flex">
      <%- include('./partials/nav'); -%>
      <div class="main px-4 py-3 w-100">
        <h2 class="mb-3">Reports</h2>
        <form action="/admin/reports/donations/download" method="post">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Donations Report</h5>
              <p class="card-text">Excel sheet containing all event funds info and sum of all funds.</p>
              <button class="btn btn-primary border-3" type="submit">Download</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </body>
</html>
