<!DOCTYPE html>
<html>
<title>Create Event</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="/user/viewEvents" class="w3-bar-item w3-button">Events</a>
  <a href="/user/createEvent" class="w3-bar-item w3-button">Create Event</a>
  <a href="/user/myEvent" class="w3-bar-item w3-button">My Event</a>
</div>

<div style="margin-left:15%">





<div class="w3-container">
<div class="container">    
      <div class="container">
	  <h2>Create Event Form</h2>
	  <form action="/action_page.php">
	    <div class="form-group">
	      <label for="eventName">EventName:</label>
	      <input type="text" class="form-control" id="donate" placeholder="eventName..." name="donate">
	    </div>
	    <div class="form-group">
	      <label for="eventName">Description:</label>
	      <input type="text" class="form-control" id="donate" placeholder="description..." name="donate">
	    </div>
	    <div class="form-group">
	      <label for="eventName">CategoryId:</label>
	      <input type="text" class="form-control" id="donate" placeholder="categoryId..." name="donate">
	    </div>
	    <div class="form-group">
	      <label for="eventName">GoalAmount:</label>
	      <input type="text" class="form-control" id="donate" placeholder="goalAmount..." name="donate">
	    </div>
	    <div class="form-group">
	      <label for="eventName">GoalDate:</label>
	      <input type="text" class="form-control" id="donate" placeholder="goalDate..." name="donate">
	    </div>

	    
	    <input type="hidden" name="donorId" value="<%= %>">
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </form>
      </div>
	</div>
</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>