<!DOCTYPE html>
<html>
<title>Event Report</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="/abc/css/user.css">
<style type="text/css">
	*{
		font-size: 20px;
		font-family: "Times New Roman", Times, serif; 
	}
</style>
<body>

<div class="w3-sidebar w3-dark-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">User</h3>
  <a href="/user/viewEvents" class="w3-bar-item w3-button">Events</a>
  <a href="/user/createEvent" class="w3-bar-item w3-button">Create Event</a>
  <a href="/user/myEvent" class="w3-bar-item w3-button">My Event</a>
    <a href="/user/message" class="w3-bar-item w3-button">Message</a>

   <a href="/logout" class="w3-bar-item w3-button">logout</a>
</div>

<div style="margin-left:15%">





<div class="w3-container">
<div class="container">    
      <div class="container">
	  <h2>Report Form</h2>
	  <form method="post">
	    <div class="form-group">
	      <label for="report">Report:</label>
	      <input type="text" class="form-control" id="report" placeholder="Report..." name="report">
	    </div>
	    <input type="submit" class="btn btn-primary" name="submit" value="Report">
	     <a href="/user/viewEvents" class="btn btn-dark">Back</a>
	  </form>
      </div>
	</div>
</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>