<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Donate</title>
  </head>
  <body>
    <div class="navbar navbar-light justify-content-center">
      <h1>GetFunded</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-7 col-lg-5 col-xl-3 mt-5 mb-5" id="login-box">
        <h4>Donate Form</h4>
        <br/>
        <form method="post">
          <input class="form-control" type="text" placeholder="Amount" name="amount"/><br />
          <textarea class="form-control" type="text" placeholder="Donation Message" name="donationMessage"></textarea><br>
          <input type="submit" name="donate" class="btn-lg btn-dark btn-block" value="Donate">
          <a class="btn-lg btn-dark btn-block" href="/userSupport/viewEvents" align="center">Back</a>
        </form>
      </div>
    </div>
  </body>
</html>
