<div class="navigation""> 
    <ul class="list-group bg-dark" style="width: 250px; height: 100vh;">
      <a href="/admin"><li class="list-group-item bg-dark text-light"><h3>Admin Panel</h3></li></a>
      <a href="/admin/moderators"><li class="list-group-item bg-dark text-light">Moderators</li></a>
      <a href="/admin/userSupports"><li class="list-group-item bg-dark text-light">User Supports</li></a>
      <a href="/admin/users"><li class="list-group-item bg-dark text-light">Users</li></a>
      <a href="/admin/events"><li class="list-group-item bg-dark text-light">Events</li></a>
      <!-- <a href="/admin/messages"><li class="list-group-item bg-dark text-light">Messages</li></a> -->
      <a href="/admin/reports"><li class="list-group-item bg-dark text-light">Reports</li></a>
      <a href="/logout"><li class="list-group-item bg-dark text-danger">Logout</li></a>
    </ul>
  </div>